
.content {
    background-color:blue;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar ul {
    list-style: none;

}

.navbar li {
    display: inline-block;
    margin: 2px;
    border: 1px solid black;
}